@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
}

h1, h2 {
    color: #237095;
}

p, label {
    color: #212121;
}

a {
    color: #237095;
    text-decoration: none;
}

a:hover {
    color: #4F8EAD;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    background-color: #63299F;
    padding: 1.4rem 3rem;
    border-bottom: solid 4px #b888e8;

    h1 {
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 0;
    }
}

main {
    width: 96%;
    max-width: 64rem;
    margin: 1.4rem auto;
    flex: 1 0 auto;
}

.new-doc {
    display: flex;
    flex-direction: column;
}

.add-doc {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #F74F4F;
    color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.add-doc:hover {
    background-color: #FF6E6E;
    color: #fff;
}

.delete-doc {
    color: #b43030
}

input,
textarea {
    margin-bottom: 1.4rem;
    font-size: 1rem;
    padding: 1.2rem;
    border-radius: 0.5em;
    border: solid 1px #919191;
    background-color: #eae0f5;
}

textarea {
    min-height: 300px;
}

.submit-button {
    width: fit-content;
    min-width: 200px;
}

.red {
    background-color: #b43030;
}

footer {
    background-color: #BEA0DD;
    padding: 1.4rem 8rem;
    a, p {
    color: #212121;
    }
}
