@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --bright-blue: #5394e7;
    --dark-blue: #024BA9;
    --medium-blue: #2a62ab;
    --light-blue: #8fbffd;
    --light-gray: #f3f3f3;
    --medium-gray: #cecece;
    --dark-gray: #9d9d9d;

    --primary-color: #63299F;
    --secondary-color: #BEA0DD;
    --bright-red: #F74F4F;
    --quaternary-color: #FF6E6E;
    --quinary-color: #b43030;
    --senary-color: #237095;
    --septenary-color: #4F8EAD;
    --octonary-color: #212121;
    --nonary-color: #919191;
    --denary-color: #eae0f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--light-gray);
}

h1, h2 {
    color: var(--medium-blue);
}

p, label {
    color: #212121;
}

a {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    color: var(--bright-blue);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    background-color: var(--bright-blue);
    padding: 0.5rem 3rem;
    border-bottom: solid 4px var(--light-blue);

    h1 {
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 0;
    }
}

.main {
    width: 96%;
    max-width: 64rem;
    min-height: fit-content;
    margin: 1.4rem auto 150px;
    flex: 1 0 auto;
}

.aside-right {
    margin-top: 3em;
}

.new-doc {
    display: flex;
    flex-direction: column;
}

.add-doc {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #F74F4F;
    color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.add-doc:hover {
    background-color: #FF6E6E;
    color: #fff;
}

.delete-doc {
    color: #b43030
}

.doc-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.docRow {
    margin-bottom: 2em;
}

.docRowTitle {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: -1em;
}

.docRowTitle h2 {
    padding-top: 1em;
}

.docRowTitle a {
    color: var(--medium-blue);
}

.docRowTitle a:hover {
    color: var(--bright-blue);
}

.docRowIcon {
    width: 30px;
}

.created {
    font-size: 0.9em;
    font-style: italic;
}

.title-input {
    display: block;
    width: 100%;
    margin-bottom: 1.4rem;
    font-size: 1rem;
    padding: 0.1em 0;
    resize: none;
    font-weight: 800;
    font-size: 2em;
    border: none;
    color: var(--medium-blue);
    border-bottom: solid 2px var(--light-blue);
    background-color: var(--light-gray);
}

.login-form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-input {
    margin: auto;
    display: block;
    margin-bottom: 1.4rem;
    font-size: 1rem;
    padding: 0.1em 0;
    resize: none;
    font-weight: 800;
    font-size: 2em;
    border: none;
    color: var(--bright-blue);
    border-bottom: solid 2px var(--light-blue);
    background-color: var(--light-gray);
}

.editor-textarea {
    width: 100%;
    min-height: 200px;
    margin-bottom: 1.4rem;
    padding: 1.2rem;
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.document-bar {
    display: flex;
    width: 100%;
    padding: 0.5em 2.5em;
    background-color: var(--medium-gray);
    justify-content: space-between;
}

.document-actions {
    display: flex;
    align-items: center;
}

.document-buttons {
    display: flex;
    align-items: center;
}

.invite-form {
    display: flex;
    gap: 1em;
}

.invite-input {
    width: 210px;
    padding: 0.25em;
    margin-bottom: 1rem;
}

.format-button {
    padding: 0.5em;
    width: 2em;
    font-family: serif;
    border-radius: 0.3rem;
    font-size: 0.8em;
    color: #fff;
    border: none;
    margin-left: 0.5em;
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}


textarea {
    min-height: 900px;
    border: solid 1px #919191;
    background-color: #eae0f5;
}

.submit-button {
    width: fit-content;
    min-width: 200px;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    border: none;
}

a.small-button { 
    color: #fff;
}

.small-button {
    padding: 0.5em;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    border: none;
}

.delete-button {
    margin-left: 0.5em;
}

.bright-blue {
    background-color: var(--bright-blue);
}

.bright-blue:hover {
    background-color: var(--medium-blue);
}

.medium-blue {
    background-color: var(--medium-blue);
}

.medium-blue:hover {
    background-color: var(--bright-blue);
    color: #fff;
}

.dark-blue {
    background-color: var(--dark-blue);
}

.dark-blue:hover {
    background-color: var(--medium-blue);
}

.red {
    background-color: var(--bright-red);
    color: #fff;
}

.red:hover {
    background-color: var(--quaternary-color);
    color: #fff;
}

.gray {
    background-color: var(--dark-gray);
    color: #fff;
}

.gray:hover {
    background-color: var(--medium-gray);
    color: #fff;
}

footer {
    background-color: var(--light-blue);
    width: 100%;
    padding: 1rem 8rem;
    position: fixed;
    bottom: 0;
    a, p {
    color: #212121;
    }

    & a {
        margin-left: 1em;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.create-doc {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    img {
        width: 10em;
        margin: auto;
    }
}

.create-doc:hover {
    scale: 1.025;
    opacity: 0.8;
    transition: 500ms;
}

.create-doc-wrapper {
    display: flex;
    width: fit-content;
    padding-top: 8em;
    margin: auto;
    gap: 8em;
}

.comment-button {
    margin-left: 0.5em;
    width: 77px;
}

.add-comment {
    display: flex;
}

.comment-input input{
    padding: 0.5em;
    margin-left: 0.5em;
    height: 28px;
    width: 250px;
}
.comment-highlight {
    background-color: var(--light-blue);
    opacity: 0.8;
}

.comment-highlight:hover {
    opacity: 1;
}

.layout-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
}

.single-comment-wrapper {
    width: 300px;
    padding: .5em;
    margin-bottom: .5em;
    background-color: #fff;
}

.hovered-comment {
    background-color: var(--light-blue);
    transition: background-color 0.25s ease;
}

.comment-first-row {
    display: flex;
    justify-content: space-between;

    p {
        color: var(--dark-blue);
    }
}

.comment-delete-btn {
    width: 2em;
    border-radius: 0.3rem;
    font-size: 0.8em;
    color: #fff;
    border: none;
    margin: -0.2em -0.25em 0.5em 0;
    transform: scale(.75);
}

.code-editor * {
    font-family: monospace, 'Courier New', Courier;
}

.code-output {
    height: 400px;
    margin-right: 1em;
    padding: 0.5em;
    background-color: #fff;
    border: solid 1px var(--light-blue);
}
.code-output p {
    font-family: monospace, 'Courier New', Courier;
    margin-bottom: 0;
}

.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.execute-btn {
    margin-top: 0.5em;
}

.confirmation-content {
    width: 300px;
    background: white;
    padding: 2em;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5em;

    & button {
        width: 100px;
    }  
}

.loader {
    position: relative;
    top: 40%;
    margin: 0 auto;
    border: 4px solid #d3d3d3;
    border-left-color: var(--medium-blue);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}